.hihi{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hehe { 
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
}
.hoho{ 
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
}
.hpho{ 
    display :flex ;
    flex-direction: row;
    justify-content: space-around;
}
.hphp{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hfhf{ 
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
}
.i00{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}